
<div class="container">
  <div class="hero-unit">
    <h1>Kevin Cashman</h1>
    <p>Software Engineer and Spirited Amatuer</p>
  </div>

  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#">Work</a>
    </li>
    <li>
      <a href="#">Hobbies</a>
    </li>
  </ul>
</div>


